div p {
  color: black;
  font-size: 30px;
  padding: 30px;
  position: absolute;
  left:400px;
  background-color: blue;
  border:black 3.5px dashed;
}

h1, h5{
  font-size: 40px;
  color:blue;
}

body{
  background-color:#BAF29E;
}
